@import "../styles/theme";
@import "../styles/viewports";

header.top {
  background-color: var(--background);
  height: 78px;
  //padding-left: 26px;
  //padding-right: 16px;
  padding-left: 66px;
  padding-right: 56px;
  display: flex;
  //justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoint(sm) {
    //padding-left: 26px;
    //padding-right: 16px;
    padding-left: 36px;
    padding-right: 26px;
  }

  h1 {
    width: 20%;
    margin: 0;
    margin-right: auto;

    .logo {
      //background-color: #ffffe9;
      background-color: #1C00ff00;
      border-radius: 52px;
      display: inline-block;
      margin-right: 0.4em;
      width: 30px;
      height: 30px;
      @include breakpoint(md) {
        margin-right: 0.2em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul.nav {
    font-family: $font-family;
    list-style-type: none;
    padding-left: 36px;
    margin-left: 4px;

    & > li {
      display: inline;
      margin-right: 28px;
      @include breakpoint(lg) {
        margin-right: 28px;
      }
      @include breakpoint(md) {
        margin-right: 20px;
      }
      @include breakpoint(sm) {
        margin-right: 12px;
      }
      @include breakpoint(xs) {
        margin-right: 8px;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: var(--header-text);
        text-decoration: none;
        font-style: normal;
        font-weight: $normal;
        font-size: 22px;
        @include breakpoint(lg) {
          font-size: 22px;
        }
        @include breakpoint(md) {
          font-size: 20px;
        }
        @include breakpoint(sm) {
          font-size: 18px;
        }
        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          // color: var(--header-text);
          font-weight: $bold;
        }
      }
    }
  }
  .walletStatus {
    margin-left: auto;
    width: 20%;

    .connection {
      // padding: 8px;
      // border: 1px solid;
      // border-radius: 10px;
      &.success .indicator {
        filter: invert(1);
      }
    }
    img.logo {
      height: 1.5em;
      width: 1.5em;
    }
  }
}
